<footer class="text-left text-lg-start bg-light text-muted">
    <div class="p-2">
    <p>Created as a semestral project for the subject of web publishing theory II. (TPW2)</p>
    <p>&copy; Jan Stepanek 2021</p>
    </div>
</footer>
</div>
</body>
</html>