<form action="/articles/new" method="POST">
   <div class="form-group">
      <label for="name">Header</label>
      <input class="form-control" type="text" name="name" value="{{name}}" required>
      <div class="nameError">{{errors.name}}</div>

      <label for="content">Article</label>
      <textarea  id="mytextarea" class="form-control" name="content"cols="30" rows="10">{{content}}</textarea>
      <div class="contentError">{{errors.content}}</div>
   </div>
   <button type="submit" class="btn btn-primary">Save</button>
   <a href="/" class="btn btn-secondary">Cancel</a>
</form>
