{{>header}}
    <a href="/articles/new">Create new article</a>
    <div>
        <h2>{{article.name}}</h2>
        <h3>{{article.description}}</h3>
        <p>{{article.content}}</p>
    </div>
{{>footer}}


