{{>header}}
<form action="/articles/new" method="POST">
   <h2>New Article</h2>
   <label for="name">Header</label>
   <input type="text" name="name" required>
   <div class="nameError">{{errors}}</div>

   <label for="description">Description</label>
   <input type="text" name="description" required>
   <div class="descriptionError">{{errors}}</div>

   <label for="content">Article</label>
   <textarea name="content"cols="30" rows="10"></textarea>
   <div class="contentError">{{errors}}</div>

   <button>Submit</button>
</form>
{{>footer}}